html {
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
}

body,
html {
  margin: 0;
  padding: 0;
}

header {
  text-align: center;

}

h1 {
  font-size: 25px;
}

h2 {
  padding-left: 10px;
}

.keys {
  display: grid;
  flex: 1;
  min-height: 10vh;
  align-items: center;
  justify-content: center;
}

/* Responsive */
@media (min-width: 800px) {
  .keys {
    grid-template-columns: repeat(100, 1fr);
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 800px) {
  .keys {
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 600px) {
  .keys {
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 400px) {
  .keys {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 250px) {
  .keys {
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    justify-content: center;
  }
}

.key {
  height: 140px;
  width: 110px;
  border: .4rem solid black;
  border-radius: .5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: all .07s ease;
  text-align: center;
  color: white;
  background: rgba(0, 0, 0, 0.4);
  text-shadow: 0 0 .5rem black;
}

.playing {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #ffc600;
}